@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'STIX Two Text', serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h1{
    text-transform: capitalize;
    text-align: center;
    color: rgb(233, 20, 20);
}

h1:hover{
    cursor: pointer;
    letter-spacing: 3px;
}
.calc-greed {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 90vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}

.calc-greed > button { 
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .65);
}

.calc-greed > button:hover{
    background-color: rgba(255, 255, 255, .85);
}

.twice{
    grid-column: span 2;
}

.outpt{
    grid-column: 1 / -1;
    background-color: rgba(148,187,233,.80);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.outpt > .previous-num {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.45); 
}

.outpt > .now-num {
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.75)
}